
{# vamos a heredar una PLANTILLA O LAYOUT en esta vista #}
{% extends "layout.html.twig" %}

{% block contenedor %}
    {{ parent()}}
    {{ texto }}
    {{ textos }}
    
    <hr/>
    {% for fruta in frutas %}
        <h1>{{ fruta }}</h1>
    {% endfor %}

    
{% endblock %}








